:root{
    --header-color: #58a079;
    --button-color: #0e5d5c;
    --light-grey: #5f5f5f;
    --light-green: #58a079;
    --dark-green: #0e5d5c;
    --colored-section: #e6eae4;
    --footer-color: #f7f7f7;
}